<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Crypdex Portfolio Guide
    meta(name="description" content="")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.min.css")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]

body(class='body-container')

//- Section 1 - nav
section
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
   <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Cryptex<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <a class="nav-item nav-link" href="#">Subscribe</a>
  
//- Section 2 - Text intro
section.slider
  input.slider__nav(type='radio', name='slider', title='slide1', checked='checked')
  input.slider__nav(type='radio', name='slider', title='slide2')
  input.slider__nav(type='radio', name='slider', title='slide3')
  input.slider__nav(type='radio', name='slider', title='slide4')
  .slider__inner
    .slider__contents
      i.slider__image.far.fa-question-circle
      h2.slider__caption What is Cryptex?
      p.slider__txt
        | We offer a free investment planner that operates like an index fund, suggesting investments in the current top 20 cryptocurrencies.
    .slider__contents
      i.slider__image.fas.fa-desktop
      h2.slider__caption How do I Use Cryptex?
      p.slider__txt
        | Invest smarter by entering your starting investment into the input field below. The table will tell you the amount to invest in each of the top coins. Go to your site of choice and start investing!
    .slider__contents
      i.slider__image.fab.fa-bitcoin
      h2.slider__caption What is Crypto?
      p.slider__txt
        | A digital currency which uses encryption to regulate the generation of currency and verify transfers, operating independently of a central bank.
    .slider__contents
      i.slider__image.fas.fa-chart-line
      h2.slider__caption What is an Index Fund?
      p.slider__txt
        | An investment fund that replicates the performance of a given index of stocks, such as the NASDAQ.

//- Section 3 - User input
section
  form(class='invest-form')
    //- .col-xs-4.col-sm-4
    .input-group.col-xs-6.col-md-8.col-xl-5
      .input-group-prepend 
        span.input-group-text $
      input(type="number" class='form-control invest-input' min='500' placeholder="Amount to invest")
      .input-group-append
        button.btn(type="submit") Submit

//- Section 4 - table
section.table-responsive
  table(class='table table-hover table-bordered currency-table')
    thead(class='thead-grey')
      tr
        th Rank
        th Coin Name
        th Market Cap
          span.fiat
        th Price
          span.fiat
        th %
        th Amount to Buy

//- Section 5 - news
section
  table(class='table table-hover table-borderless news-table')
      thead(class='thead-grey')
        tr 
          th 
            h2 News
          th

//- Section 6 - Chart
section
  canvas(id='currency-chart')

//- Section 7 - footer
section
  p(class='footer') © 2018 Made By 
    a(href='https://github.com/chingu-voyage4/Toucans-Team-3') Toucon-Team-3


script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
script(src="js/bundle.min.js")
