@import 'styles/variables'

.input-group-text
  background-color: $light-color
  
button
  background-color: $primary-color
  color: $light-color
  border-radius: 10%
  &:hover
    background-color: darken($primary-color, 30)