@import 'styles/variables'

.input-group-text
  background-color: $light-color
  
button
  background-color: $primary-color
  color: $light-color
  border-radius: 10%
  &:hover
    background-color: darken($primary-color, 30)

.input-group-append .btn, .input-group-prepend .btn,.input-group>.custom-file:focus, .input-group>.custom-select:focus, .input-group>.form-control:focus
  z-index: 0

  