$theme-blue: #4717F6
  
#latest-news
  color: rgba(46,48,51,.9)

.currency-table
  width: 80%
  margin: auto
  background-color: rgba(46,48,51,.9)
  color: #fff

.news-table
  width: 80%
  margin: auto
  color: grey

.news-table td
  padding: 0.25rem

.currchart
  width: 80%

.currency-table tbody tr:hover td, .table tbody tr:hover th 
  background-color: $theme-blue

