@import 'styles/variables'

.currency-table
  background-color: $secondary-color
  color: $light-color
  tbody tr:hover td, .table tbody tr:hover th 
    background-color: $primary-color

.active
    background-color: $primary-color

.currency-symbol
        display: none

@media screen and (max-width: 900px)
    .currency-name
        display: none
    .currency-symbol
        display: block

.coin-output
    color: #999